<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main>
<div class="p-5 text-center bg-image" style="
  background-image: url('your-image.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-gray fw-bold">
      <h1 class="mb-3 display-3 fw-dark fw-bold">Welcome to the <%= title %> page</h1>
    </div>
  </div>
</div>

</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
   
 


</body>
</html>




